/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte principal */
body {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    background-color: #fff;
    color: #4B2E2E;
}

/* Cabeçalho */
header {
    background-color: #4B2E2E;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo para o logotipo */
.header-left {
    flex: 1;
    text-align: left;
}

.logo h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 100;
    color: #FFFFFF;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
}

/* Ícone centralizado no cabeçalho */
.header-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.header-icon {
    width: 40px;
    height: 40px;
}

/* Navegação */
.header-right {
    flex: 1;
    text-align: right;
}

header nav ul {
    list-style-type: none;
    display: flex;
    gap: 0;
}

header nav ul li {
    flex: 1;
}

header nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 15px 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Efeito de fundo verde ao passar o mouse */
header nav ul li a:hover {
    background-color: #1E402E;
    color: #FFFFFF;
    text-decoration: none;
}

/* Conteúdo Principal */
main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

section#home {
    text-align: center;
}

h1, h2, h3 {
    font-weight: 100;
}

h2 {
    color: #4B2E2E;
}

p {
    font-weight: 100;
}

/* Rodapé */
footer {
    background-color: #4B2E2E;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}